/.vscode/tasks.json
/projects/01_Beginner/01_cout_cin/main.exe
/projects/01_Beginner/01_cout_cin/main.obj
/projects/01_Beginner/01_cout_cin/main.pdb
/projects/01_Beginner/01_cout_cin/vc140.pdb
/.gitignore
/.vscode